manual.aux
manual.log
manual.toc
Rakefile.compiled.rbc
results*
.yardoc
benchmark/gexpr
benchmark/gexpr.exe
benchmark/res*
benchmark/gmp/**/RES-*
benchmark/gmp/**/*.txt
benchmark/ruby/RES-*
benchmark/**/*.txt
doc/**/*
doc
ext/Makefile
ext/gmp.bundle
ext/mkmf.log
ext/*.o
ext/*.so
ext/*.dSYM
ext/*.log
**/*.rbc
test/**/*.rbc
test/*.log
*.gem
**/*.swp
performance.aux
performance.latex
performance.log
performance.out
performance.toc
