manual.aux
manual.log
manual.toc
results*
.yardoc
benchmark/gexpr
benchmark/gexpr.exe
benchmark/res*
benchmark/RES-*
ext/Makefile
ext/gmp.bundle
ext/mkmf.log
ext/*.o
ext/*.so
ext/*.dSYM
**/*.rbc
test/**/*.rbc
*.gem
